WebDAV mounted name only allows basic latin characters

<!--
Please make sure to:
- Comply with our code of conduct: https://github.com/cryptomator/cryptomator/blob/develop/.github/CODE_OF_CONDUCT.md
- Search for existing similar issues first: https://github.com/cryptomator/cryptomator/issues?q=

⚠️ IMPORTANT: If you don't stick to this template, the issue will get closed.
-->

### Description

Is this JDK related? There seems to be similar issues with unicode. 

In macOS High Sierra (English language, Finnish region settings) mounting a WebDAV vault with Scandinavian characters in the name results mounted volume with erraneous name (underscores in place of the Scandinavian characters). In Win10 (English, Finnish keyboard) mounted volume name is correct.

### System Setup

* Operating system and version: macOS High Sierra
* Cryptomator version: 1.5.11 (DMG-2600.111)
* Volume type: WebDAV

### Steps to Reproduce

1. In macOS (High Sierra), make a new WebDAV vault with Scandinavian charactes ie. Åå Ää Öö
2. Note that the name is shown correctly in the Cryptomator main window
3. Mount the vault
4. Note the erraneous name of the mounted WebDAV volume

#### Expected Behavior

The volume is expected to mount with correct name.

#### Actual Behavior

If the name starts with Scandinavian characters, they are omitted. In the middle of the name they are replaced with underscores.

#### Reproducibility

Every time, no matter where the vault resides (tried local disk, iCloud and OneDrive for Business). Affects WebDAV only, FUSE functions as expected.

### Additional Information
![Screen Shot 2021-02-03 at 11 39 23](https://user-images.githubusercontent.com/38278300/106727869-90d21c00-6614-11eb-9688-bb9636870ca4.png)
![Screen Shot 2021-02-03 at 11 39 41](https://user-images.githubusercontent.com/38278300/106727874-93347600-6614-11eb-8827-4f8f5a702537.png)
<!--
If you want to add the log file or screenshots, please add them as attachments. If your log file seems empty and doesn't show any errors, you may enable the debug mode first. Here is how to do that: https://community.cryptomator.org/t/how-do-i-enable-debug-mode/36

Then reproduce the problem to ensure all important information is contained in there. You may use test data or redact sensitive information from the log file.

Log file location:
- Windows: %appdata%/Cryptomator
- macOS: ~/Library/Logs/Cryptomator
- Linux: ~/.local/share/Cryptomator/logs
-->


Correction: using WebDAV in Win10 results in the same error. I forgot to check, and Cryptomator in Win used Dokany.

This is actually intended to avoid problems with percent-encoded chars:

https://github.com/cryptomator/cryptomator/blob/c1f44f76b942e42f496b22785be0f6708cf98827/main/commons/src/main/java/org/cryptomator/common/vaults/WebDavVolume.java#L56-L58

URLs are not very localization-friendly. To avoid issues with third party software, we strictly reduce the base URL to conform to [RFC 3986, Section 2.3](https://tools.ietf.org/html/rfc3986#section-2.3).

If this issue is a blocker for you, currently the only thing I can do is to suggest using FUSE instead.

Thank you for the information, this is good to know. We can easily live with this.